{% extends 'index_base.html' %}
{% block body %}
	<!-- WRAPPER -->
	<div id="wrapper ">
		<div class="vertical-align-wrap " style="padding: 200px;">
			<div class="vertical-align-middle">
				
					
						
							<div class="panel"  >
								<div class="panel-heading">
									<h3 class="panel-title">CHOOSE YOUR ROLE</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6">
											<a href="LA_reg"><button type="button" class="btn btn-primary btn-block">League Admin</button></a>
										</div>
										<div class="col-md-6">
											<a href="player_reg"><button type="button" class="btn btn-warning btn-block">Player</button></a>
										</div>
									</div>
								</div>
							</div>
							
					
					
					<div class="clearfix"></div>
				
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
	
{% endblock %}